link(rel='stylesheet' href='https://groupoid.space/main.css')

footer.footer
    a(href='https://5HT.co/license/')
        img.footer__logo(src='https://longchenpa.guru/seal.png',width=50)
    span.footer__copy 2015&mdash;2025 &copy; <div style="color:white;"><u>Олег Мараховський</u></div>
    script(src='https://groupoid.space/highlight.js?v=1')
    script(src='https://groupoid.space/bundle.js')
